<a href="https://colab.research.google.com/github/UU-IM-EU/2IS239/blob/master/Copy_of_Inl%C3%A4mning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Inlämning laboration 1

Vissa av uppgifterna i denna inlämning är inspirerade från följande källor:

- MyMachineLearningCourse in Python, licensierad  under GNU General Public License v3.0
- Software Carpentry Copyright ©Software Carpentry, http://software-carpentry.org/, licensierad under Creative Commons Attribution license,https://creativecommons.org/licenses/by/4.0/
- Geo Python (© Copyright 2017 Tenkanen & Whipp, University of Helsinki) licensierad under Creative Commons Attribution-ShareAlike 4.0 International licence https://creativecommons.org/licenses/by-sa/4.0/legalcode.


Denna laboration ska genomföras i par, när ni arbetar med laborationen ska ni vara noga med att spara era ändringar i GitHub. Det går att göra direkt från collaboratory genom att spara en kopia i ert repository. Detta är dels för att ni inte ska riskera att förlora något arbete men också för att det ska gå att följa ert arbete som lärare. När ni är färdiga ska länken till laborationen i collaboratory lämnas in i Studium. Endast en inlämning per grupp behövs. Det är också att rekommendera att infoga en knapp för att öppna filen i Collaboratory direkt från GitHub, detta får ni en fråga om när ni kopierar filen till GitHub, via arkivmenyn.

Det finns totalt 12 uppgifter och frågor, samtliga ska besvaras för godkänt.

## Uppgift 1
Skriv ut dagens datum i formatet YYYY-MM-DD

In [ ]:
from datetime import date
print(date.today())

## Uppgift 2  
Definiera en funktion `max_of_three()` som tar tre olika nummer som argument och returnerar det största av dem, skriv ut resultatet.

In [ ]:
def max_of_three(num1, num2, num3):
    lista = [num1, num2, num3]
    return max(lista)

print(f'The largest number of the three arguments are: {max_of_three(1,2,3)}')

The largest number of the three arguments are: 3

## Uppgift 3  
Definiera en funktion `sum()` som summerar och en annan funktion `multiply()` som multiplicerar alla nummer i en lista, skriv ut resultatet 

**Ex:** `sum([1, 2, 3, 4])` ska returnera 10, och `multiply()([1, 2, 3, 4])` ska returnera 24.

In [ ]:
numList= [1, 2, 3, 4]

def sumNumber(numbers):
  sum = 0
  for i in numbers:
    sum += i
  return sum

def multiply(numbers):
  multi = 1
  for i in numbers:
    multi *= i
  return multi

print(sumNumber(numList))
print(multiply(numList))

10
24

## Uppgift 4

**a.** Definiera en funktion som tar ett antal (varierande) kommaseparerade nummer som argument och genererar en lista och en tuple som innehåller dessa nummer.

**b.** Vad är skillnaden mellan en lista och en tuple i Python?

In [ ]:
#a)
def listTuple(numbers):
    lista = []
    tupleLista = ()
    lista = numbers.split(",")
    tupleLista = tuple(lista)
    print(lista)
    print(tupleLista)

listTuple("1,2,3,4")

#b) Listor går att ändra, lägga till och ta bort element(dynamiska). Tupler är oförändringsbara (statiska).

['1', '2', '3', '4']
('1', '2', '3', '4')

## Uppgift 5 
Skapa två olika tal som integers. Kalkylera produkten av dessa, om produkten är **högre** än 200, returnera då summan av de två talen,skriv ut resultatet. 

**Ex**
~~~
INPUT:  
`number1 = 10`  
`number2 = 20`

RESULT:  
The result is 200.
~~~

In [ ]:
def sumNumbers(one, two):
  sum = one*two  
  if sum > 200:
    print("Total sum is: ", sum)

sumNumbers(11, 20)

Total sum is:  220

## Uppgift 6 
**a.** Givet en sträng, skriv ut de bokstäver som finns på alla ojämna indexplatser. 

**b.** Utveckla ovanstående funktion så att mellanslag inte skrivs ut utan endast index med bokstäver.

In [ ]:
#A)
food = 'Hamburger'
print(food[1], food[3], food[5], food[7])

#B)
food = 'Hamburger'
print("The original word : " + food) 
  
uneven = food[1::2] 
even = food[::2]

print("Even index: " + even) 
print("Uneven index: " + uneven)


#Alternativ på uppgift (b)
#Lösning som tar bort mellanslag om det finns med i strängen - vi kom överrens om att uppgiften går att tolka på olika sätt
def uneven_word(input_str):
    str_list = list(input_str)
    uneven_word = ""
    for i in range(len(str_list)):
        if i%2 != 0 and str_list[i] != " ":
            uneven_word += str(str_list[i])
    return uneven_word
print(uneven_word("Hello there!"))

a b r e
The original word : Hamburger
Even index: Hmugr
Uneven index: abre
elhr!

## Uppgift 7
**a** Skapa en sträng som innehåller 4 olika ord, separerade med ; Använd den inbyggda funktionen `split()`och skriv ut de fyra orden på varsin rad.

**b** Varför var denna övning viktig inför framtida analys av strukturerad data?

In [ ]:
#A)
words = 'Hamburger;Pizza;Salad;Sushi'
a,b,c,d = words.split(';')
print(f'{a}\n{b}\n{c}\n{d}')

#B)
#Viktigt att kunna bryta isär data från varandra för lättare analys. I csv filer är oftast ; eller något annat tecken det som separerar olika data från varandra.

## Uppgift 8

Beräkna inkomstskatten för några olika personer med olika inkomst, använd nedanstående tabell för att se reglerna för inkomstskatt för olika inkomster. Skriv ut varje persons inkomst och skatt på en egen rad. 

| Inkomst  | Skatt (%) |
|----------|-----------|
| <=10 000 |     0     |
| <=30 000 |     20    |
| > 30 000 |     40    |


**Ex**

~~~
En person med en inkomst på 35000 ska betala 10 000*0 + 20 000*0,2 + 5000*0,4 = 6000 kr i skatt.
~~~

In [ ]:
def calculate_tax(income):
    tax = 0
    if income <= 10000:
        tax = 0
    elif income > 10000 and income <= 30000:
        tax = (income-10000)*0.2
    else:
        tax = (20000*0.2) + ((income-30000)*0.4) 
    return tax


income = 29000
print(f'The persons tax based on income {income} is: {calculate_tax(income)}kr')
income = 40000
print(f'The persons tax based on income {income} is: {calculate_tax(income)}kr')
income = 11000
print(f'The persons tax based on income {income} is: {calculate_tax(income)}kr')

The persons tax based on income 29000 is: 3800.0kr
The persons tax based on income 40000 is: 8000.0kr
The persons tax based on income 11000 is: 200.0kr

## Uppgift 9

**För att genomföra denna uppgift kan fler än ett kodblock behöva skapas.**

Skapa en strängvariabel som du döper till name och spara ditt förnamn och efternamn i en enda sträng i denna variabel.

Skapa en integervariabel som du döper till iceCreamRating och använd denna för att spara ettnummer mellan 0 till 10 som speglar hur mycket du tycker om glass.

Koda sedan i Python något som ger ungefär denna output:

Mitt namn är Elin Uppström och jag ger glassätning 7 poäng av 10 möjliga!

**OBS!** Elin Uppström ska såklart bestå av innehållet i variabeln name och poängen ska komma från variabeln iceCreamRating

In [ ]:
name = 'Edwin Perez'
iceCreamRating = 6

print(f'Mitt namn är {name} och jag ger glassätning {iceCreamRating} av 10 möjliga!')

## Uppgift 10

a. För att konvertera sekunder till sekunder, minuter och timmar kan följande metod användas med "brute force". 
~~~
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds) 
      
# Driver program 
n = 12345
print(convert(n)) 

~~~

Istället för brute force, skapa två olika förslag på hur samma sak kan åstadkommas med hjälp av Pythons inbyggda bibliotek som ni hittar [här](https://docs.python.org/3/library/index.html).

In [ ]:
import datetime
sec = 123455
res = datetime.timedelta(seconds = sec)
print(res)

1 day, 10:17:35

In [ ]:
import time
sec = 123455
ty_res = time.gmtime(sec)
res = time.strftime("%H:%M:%S",ty_res)
print(res)

10:17:35

## Uppgift 11

I filen som heter smhi_vaderdata.csv finns ett helt dyngs väderdata från Visby flygplats, nämligen från den 28 augusti 11.00 till den 29 augusti 11.00. I denna övning ska ni använda denna data och utföra ett antal uppgifter. För att importera den data som finns används ett externt bibliotek som heter pandas som vi kommer använda oss mycket av framöver. Denna gång får ni dock filen importerad åt er samt de olika temperaturerna inlagda i en lista. När ni sedan skriver er egen kod gör ni detta i ett nytt kodblock. 

a. Skapa tomma listor för olika typer av temperatur, exempelvis varmt, ljummet, kallt etc. Minst tre olika typer av temperaturer ska ingå. 

b. Iterera över listan och sortera in de olika temperaturerna i de skapade temperaturtyperna, 

**Ex** 
~~~
temperatur över 18 grader ska till listan med varma temperaturer
~~~

c. Ange hur många timmar under dygnet de olika temperaturtyperna förekommit. 

**Ex**

~~~
Det var varmt fem timmar under dygnet.
Det var ljummet åtta timmar under dygnet.
Det var inte kallt någon timme under dygnet.
~~~

d. Förklara vilka argument `read_csv` kan ta och vad de två argument som skickas med i nedanstående kod betyder. 

e. Vad är den första kolumnen i den dataframe som skapas i koden nedan (ni måste köra koden för att resultatet ska synas.)

In [ ]:
#importerar pandas och hämtar data från csv-filen till en dataFrame
import pandas as pd
temperature_df= pd.read_csv("smhi_vaderdata.csv", sep=';')
temperature_df

In [ ]:
#skapar en lista med enbart temperatur
temperature = temperature_df['Lufttemperatur']
temperature

In [ ]:
#a)
warm = []
cold = []
lukewarm = []

#b)
#Iterera över listan och sortera in de olika temperaturerna i de skapade temperaturtyperna,
for i in range(len(temperature)):
    if temperature[i] > 18:
        warm.append(temperature[i])
    elif temperature[i] <= 18 and temperature[i] >= 14:
        lukewarm.append(temperature[i])
    else:
        cold.append(temperature[i])

    
#c)
print(f'Det var varmt {len(warm)} timmar under dygnet')
print(f'Det var ljummet {len(lukewarm)} timmar under dygnet')
print(f'Det var kallt {len(cold)} timmar under dygnet')

d) Förklara vilka argument read_csv kan ta och vad de två argument som skickas med i nedanstående kod betyder.

svar: Argumenten som csv_read kan ta är filväg, alltså vart filen vi vill läsa ligger och vilken typ, filändelse filen vi vill läsa har, i detta fall vill vi läsa "data/smhi_vaderdata.csv", en fil som heter smhi_vaderdata och ligger i data-mappen samt är av typ csv. 

Sedan tar csv_read in ett seperationstecken, sep=';'. Detta är det tecken som vi vill använda för att komma åt varje enskilt värde i dokumentet, tex i varje kolumn. Sep kan variera beroende på vilket separationstecken som använts i dokumentet som ska läsas. 

e) Indexvärden för alla rader

## Uppgift 12

Restaurang varvet har börjat använda swish i hög utsträckning, dock har de ett problem. Kassans dagliga sammanställning stämmer inte med summan som levereras från banken på hur mycket pengar som inkommit. Anledningen är att banken inte sammanställer swishinkomster per dag. Ägaren behöver därför göra detta manuellt vilket tar mycket tid. 

Uppgiften är därmed att beräkna en totalsumma av swishinbetalningar per dag och leverera denna sammanställning i en ny fil som ni sedan kan skicka till ägaren för att underlätta dennes arbete. Ni läser in filen på samma sätt som i föregående övning, även denna fil har ; som separator. Som hjälp har också de bibliotek ni behöver för att genomföra uppgiften importerats. Skapa lämligt antal nya kodblock för att utföra uppgiften.

In [ ]:
#Importerar nädvändiga bibliotek
import pandas as pd
import dateutil
import csv as csv

In [ ]:
#läser in filen och displayar dataframe:et
swish_df= pd.read_csv("Data/Kontohandelser_swish.csv", sep=';')

swish_df = swish_df.replace(',','.', regex=True)
swish_df

    Bokföringsdatum  ... Ursprungsreferens Swish
0        2020-06-26  ...                     NaN
1        2020-06-26  ...                     NaN
2        2020-06-26  ...                     NaN
3        2020-06-26  ...                     NaN
4        2020-06-26  ...                     NaN
..              ...  ...                     ...
235      2020-06-22  ...                     NaN
236      2020-06-22  ...                     NaN
237      2020-06-22  ...                     NaN
238      2020-06-22  ...                     NaN
239      2020-06-22  ...                     NaN

[240 rows x 9 columns]

In [ ]:
#Gör om innehållet i kolumnerna under Belopp till floats(numerical values)
swish_df["Belopp"] = pd.to_numeric(swish_df["Belopp"])

In [ ]:
#Grupperar på valutadatum och beräknar summan för varje nyckel som skapas inom valutadatum
swish_sum_df = swish_df.groupby('Valutadatum').Belopp.sum()
swish_sum_df

Valutadatum
2020-06-20    147065.0
2020-06-21     23330.0
2020-06-24      1590.0
2020-06-25     11175.0
2020-06-26     15450.0
Name: Belopp, dtype: float64

In [ ]:
#Skriver dataframet swish_sum_df till fil, använder ; som separator och format utf-8
swish_sum_df.to_csv('swish_sum_per_day.csv', sep=';', encoding='utf-8')